@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

.top_movies_container {
  max-width: 1216px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  h2{
    color:white;
  }
  .girland {
    position: absolute;
    max-width:100%;
    height:auto;
    opacity: 0.5;
    z-index: -10;
  }

  .top_movies {
    display: grid;
    display: flex;
    gap: 5%;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .top_movie_card {
      display: flex;
      align-items: center;

      img {
        box-shadow: -10px 0px 20px 0px;
        border-radius: 10px;
        height:100%;
        width:clamp(160px,15vw,266px)
      }

      span {
        font-size: clamp(70px,14vw,180px);
        font-weight: 900;
        color: white;
        z-index: -2;
        transform: rotate(-10deg);
        position: relative;
        right: -3%;
        font-family: 'Rock 3D';
      }
    }
  }
}

.top10 {
  font-family: 'Rock 3D';
}
