.logo-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size:clamp(20px,3vw,30px);
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    transition: 0.3s;

    &:hover {
      color: var(--gray);
    }
  }
